/Pesquisa e Ordenação/aula_02_exercicio/OrdenacaoJava/target/
/Pesquisa e Ordenação/trabalho_ordenacao/TrabalhoOrdenacao/nbproject/private/
/Pesquisa e Ordenação/trabalho_ordenacao/TrabalhoOrdenacao/build/
